.time-card {
  position: relative;
  z-index: 1;
  display: grid;
  row-gap: fluid(20, 10);
  height: 100%;
  padding: fluid(50, 24);
  overflow: hidden;
  background-color: var(--color-dark-06);
  border: var(--border);
  border-radius: var(--border-radius-l);

  @include laptop {
    border-radius: var(--border-radius-m);
  }

  @include card-decorations;

  &::before {
    translate: -57% 69%;
  }

  &::after {
    translate: 67% -55%;
  }

  &__title {
    color: inherit;
    text-transform: uppercase;
  }
}
