.review-card {
  position: relative;
  display: grid;
  row-gap: fluid(30, 20);
  padding: fluid(40, 24);
  z-index: 1;
  min-width: 358px;
  height: 100%;
  background-color: var(--color-dark-06);
  border: var(--border);
  border-radius: var(--border-radius-l);
  overflow: hidden;

  @include laptop {
    border-radius: var(--border-radius-m);
  }

  &::before,
  &::after {
    @include square(fluid(500, 325));

    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 22px;
    background-image: linear-gradient(
            207deg,
            #18181B 0%,
            rgb(24 24 27 / 0) 83.33%
    );
  }

  &::before {
    left: 0;
    bottom: 0;
    translate: -65% 46%;
    rotate: 131deg;
  }

  &::after {
    top: 0;
    right: 0;
    translate: 70% -55%;
    rotate: -145deg;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
  }

  &__name,
  &__description {
    color: var(--color-grey-90);
  }

  &__location {
    color: var(--color-grey-40);
  }

  &__description {
    font-weight: 500;
  }

  &__stars {
    --ratingStarsValue: 5;

    position: relative;

    &-filled {
      --ratingStarsClipEnd: calc(100% / 5 * var(--ratingStarsValue));

      @include abs-cover;

      clip-path: polygon(
        0 0,
        var(--ratingStarsClipEnd) 0,
        var(--ratingStarsClipEnd) 100%,
        0 100%
      );
    }
  }
}