.review-card {
  position: relative;
  z-index: 1;
  display: grid;
  row-gap: fluid(30, 20);
  height: 100%;
  padding: fluid(40, 24);
  overflow: hidden;
  background-color: var(--color-dark-06);
  border: var(--border);
  border-radius: var(--border-radius-l);

  @include laptop {
    border-radius: var(--border-radius-m);
  }

  @include card-decorations;

  &::before {
    translate: -65% 46%;
  }

  &::after {
    translate: 70% -55%;
  }

  &__header {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: space-between;
  }

  &__name,
  &__description {
    color: var(--color-grey-90);
  }

  &__location {
    color: var(--color-grey-40);
  }

  &__description {
    font-weight: 500;
  }

  &__stars {
    --ratingStarsValue: 5;

    position: relative;

    &-filled {
      --ratingStarsClipEnd: calc(100% / 5 * var(--ratingStarsValue));

      @include abs-cover;

      clip-path: polygon(
        0 0,
        var(--ratingStarsClipEnd) 0,
        var(--ratingStarsClipEnd) 100%,
        0 100%
      );
    }
  }
}
