.services {
  &__wrapper {
    display: grid;
    column-gap: fluid-to-laptop(50, 40);
    align-items: center;

    @include laptop-s-above {
      grid-template-columns: repeat(2, 1fr);
    }

    @include laptop-s {
      row-gap: 30px;
    }
  }

  &__info {
    display: grid;
    row-gap: fluid(20, 12);

    &:not(:last-child) {
      margin-bottom: fluid(50, 30);
    }
  }

  &__label {
    font-weight: 500;
    color: var(--color-grey-80);

    &:not(:last-child) {
      margin-bottom: fluid(20, 10);
    }
  }

  &__image {
    border-radius: 20px 20px 100px;

    @include mobile {
      border-radius: 12px 12px 30px 30px;
    }
  }
}
