.section {
  display: flex;
  flex-direction: column;
  row-gap: fluid(80, 40);
  padding-block: var(--section-padding-y);

  &--compact {
    row-gap: 0;
  }

  &__header {
    padding-bottom: fluid(50, 20);
    border-bottom: var(--border);

    &:has(.section__actions) {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: space-between;

      @include tablet {
        flex-direction: column;
        align-items: start;
      }
    }

    &:has(.section__extra) {
      @include tablet-above {
        align-items: end;
      }
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: start;

    @include tablet {
      display: contents;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: fluid-to-laptop(4, 2);
    align-items: start;
    text-transform: uppercase;
  }

  &__subtitle {
    @include fluid-text(20, 14);

    font-weight: 600;
    color: inherit;
  }

  &__extra {
    display: flex;
    flex-direction: column;
    row-gap: fluid-to-laptop(6, 2);
    align-items: start;

    @include tablet {
      order: 1;
    }
  }

  &__label {
    color: var(--color-grey-40);
  }

  &__value {
    @include fluid-text(28, 20);

    font-weight: 500;
    color: var(--color-grey-80);
  }

  &__actions {
    display: flex;
    column-gap: fluid-to-laptop(30, 20);
    align-items: center;
  }
}
