.section {
  display: flex;
  flex-direction: column;
  row-gap: fluid(80, 40);

  &__header {
    padding-bottom: fluid(50, 20);
    border-bottom: var(--border);

    @include tablet {
      flex-direction: column;
    }

    &:has(.section__actions) {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
  }
}