.feature {
  display: flex;
  column-gap: fluid(10, 4);
  align-items: center;
  padding: fluid(20, 14);
  border: var(--border);
  border-radius: var(--border-radius-l);

  @include laptop {
    border-radius: var(--border-radius-m);
  }

  @include mobile {
    border-radius: var(--border-radius-s);
  }

  &__icon {
    &.icon {
      --iconSize: #{fluid-to-laptop(40, 30)};
    }
  }

  &__label {
    color: var(--color-grey-70);
    text-transform: uppercase;
  }
}
