.hero {
  padding-bottom: var(--section-padding-y);

  &__main {
    display: grid;
    align-items: center;
    column-gap: 10px;
    text-transform: uppercase;

    @include laptop-s {
      padding-block: 40px;
    }

    @include mobile-above {
      grid-template-columns: auto 1fr auto;
    }

    @include mobile {
      row-gap: 20px;
      align-items: start;
    }

    &-image {
      justify-self: center;
      max-width: fluid-to-laptop(346, 262);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: fluid-to-laptop(10, 4);
  }

  &__subtitle {
    @include fluid-text(22, 14);

    font-weight: 500;
    color: var(--color-grey-40);
  }

  &__title {
    color: var(--color-grey-90);
  }

  &__action {
    @include mobile-above {
      margin-left: auto;
    }
  }
}