.soc1als {
  display: inline-flex;
  padding: fluid-to-laptop(10, 8);
  background-color: var(--color-dark-03);
  border: var(--border);
  border-radius: 100px;

  &--big-column-gap {
    .soc1als__list {
      column-gap: fluid-to-laptop(16, 10);
    }
  }

  &__list {
    display: flex;
    column-gap: fluid-to-laptop(10, 8);
    align-items: center;
  }
}
