.action {
  padding: 0;
  background-color: transparent;
  border: none;

  &:has(.action__bottom) {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: fluid-to-laptop(10, 4);
  }

  @include hover {
    opacity: 0.7;

    .action__icon {
      rotate: 45deg;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  &__title {
    @include fluid-text(58, 28);

    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-white);
  }

  &__icon {
    --iconSize: #{fluid(30, 20)};

    transition-duration: var(--transition-duration);

    &-wrapper {
      @include flex-center;

      padding: fluid(18, 14) fluid(50, 30);
      background-color: var(--color-purple-55);
      border-radius: 100px;
      box-shadow: inset 4px 4px 17px 0 rgb(255 255 255 / 0.3);
    }
  }

  &--grey-50 {
    .action {
      &__title {
        color: var(--color-grey-50);
      }

      &__top {
        column-gap: fluid(16, 4);
      }
    }
  }

  &--underline {
    padding-bottom: fluid-to-laptop(10, 6);
    border-bottom: var(--border);
  }
}