.portfolio-card {
  display: inline-grid;
  row-gap: 20px;
  height: 100%;

  &__image {
    border-radius: fluid-to-laptop(20, 16);
  }

  &__body {
    display: flex;
    column-gap: 10px;
    align-items: start;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    align-items: start;
  }

  &__title {
    color: var(--color-grey-80);
  }
}
