.header {
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: var(--border);
  animation-name: scroll-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 100px;

  @keyframes scroll-header {
    to {
      background-color: var(--color-dark-03);
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    padding-top: fluid(30, 10);
    border-inline: var(--border);
  }

  &__menu,
  &__burger-button {
    align-self: flex-end;
  }

  &__menu {
    font-weight: 500;

    &-list {
      display: flex;
    }

    &-item {
      border-top: var(--border);
      border-left: var(--border);

      &:first-child {
        border-radius: 12px 0 0 0;
      }

      &:last-child {
        border-right: var(--border);
        border-radius: 0 12px 0 0;
      }
    }

    &-link {
      padding: fluid-to-laptop(30, 24) fluid-to-laptop(40, 30);
      border-radius: inherit;

      @include hover {
        color: var(--color-white);
        background-color: var(--color-purple-60);
      }

      &.is-active {
        padding-inline: fluid-to-laptop(50, 40);
        pointer-events: none;
        user-select: none;
        color: var(--color-white);
        background-color: var(--color-dark-08);
      }
    }
  }

  &__burger-button {
    margin-right: calc(var(--container-padding-x) * -1);
  }
}