.footer {
  padding-top: var(--section-padding-y);
  overflow: hidden;
  color: var(--color-grey-50);

  &__branding {
    margin-bottom: fluid(100, 20);
  }

  &__logo {
    margin-left: auto;
    max-width: fluid(1058, 331);
  }

  &__main {
    text-transform: uppercase;

    @include tablet-above {
      position: relative;
      display: grid;
      grid-template-columns: 41% auto;
    }

    &::before,
    &::after {
      @include laptop-above {
        @include square(fluid-to-laptop(200, 187));

        content: '';
        position: absolute;
        top: 25%;
        background: url('@/assets/images/footer/decor.svg') center/cover no-repeat;
      }
    }

    &::before {
      left: 0;
      translate: -80%;
    }

    &::after {
      right: 0;
      translate: 80%;
      rotate: 180deg;
    }

    &-column {
      padding: fluid(100, 40) fluid(80, 20);
      border-right: var(--border);

      @include tablet {
        &:not(:first-child) {
          border-left: var(--border);
        }

        &:not(:last-child) {
          border-bottom: var(--border);
        }
      }

      &:first-child {
        border-left: var(--border);
      }
    }
  }

  &__subtitle {
    @include fluid-text(20, 14);

    margin-bottom: fluid(60, 20);
  }

  &__subtitle,
  &__menu-title {
    font-weight: 600;
  }

  &__menu {
    --columns: 4;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 40px 50px;

    @include laptop {
      --columns: 2;
    }

    &-column,
    &-list {
      display: flex;
      flex-direction: column;
      align-items: start;
    }

    &-column {
      row-gap: fluid(20, 14);
    }

    &-list {
      row-gap: fluid-to-laptop(6, 4);
    }

    &-link {
      padding-bottom: 6px;
      font-weight: 500;
      color: var(--color-grey-95);
      border-bottom: var(--border-dark-20);

      @include hover {
        border-color: var(--color-purple-60);
      }
    }
  }

  &__extra {
    text-align: center;
    border-top: var(--border);

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      padding-block: 20px;

      @include tablet {
        flex-direction: column;
      }
    }

    &-list {
      display: flex;
    }

    &-item {
      &:not(:last-child) {
        &::after {
          content: '';
          margin-inline: fluid-to-laptop(11, 8);
          border-right: var(--border);
        }
      }
    }
  }

  &__soc1als {
    @include tablet {
      order: 1;
    }
  }
}